body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  background-color: #84a178;
}
body.is-hidden {
  overflow-y: hidden;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

.container {
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}
.container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 16px;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  cursor: pointer;
  color: currentColor;
}

.img {
  display: block;
}

.overlay {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 767px;
  min-height: 70px;
  background-image: url("../images/images-for-mobile/backgroud-mobile.png");
  background-color: #84a178;
  background-position: center;
  background-size: 140%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/images-for-mobile/backgroud-mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    max-width: 1199px;
    min-height: 400px;
    background-image: url("../images/images-for-tablet/background-tablet.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/images-for-tablet/background-tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .overlay {
    max-width: 1600px;
    min-height: 600px;
    background-image: url("../images/images-for-desktop/backgroud-desktop.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: url("../images/images-for-desktop/backgroud-desktop@2x.png");
  }
}

.section-title {
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 12px;
  color: #131313;
  text-align: center;
  font-family: "Seymour One", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}
.title--white {
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    letter-spacing: 2.16px;
  }
}

.label-title {
  color: #131313;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.label-title--white {
  color: #fcfcfc;
}
@media screen and (min-width: 1200px) {
  .label-title {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}

.contacts__button, .about__button, .button-open-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  border-radius: 10px;
  border: 1px solid transparent;
}

.btn-light, .button-list__item--button {
  border: 2px solid #f8d24e;
  background-color: transparent;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-light:hover, .button-list__item--button:hover {
  border: 2px solid #0a8817;
}
.btn-light:focus, .button-list__item--button:focus {
  fill: #fff;
  color: #fff;
  border: 2px solid #0a8817;
}
.btn-light:disabled, .button-list__item--button:disabled {
  color: #000;
  border: 2px solid #ababab;
}

.btn-dark, .about__button, .button-open-modal {
  background-color: #f8d24e;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-dark:hover, .about__button:hover, .button-open-modal:hover {
  background-color: #0a8817;
}
.btn-dark:focus, .about__button:focus, .button-open-modal:focus {
  fill: #fff;
  color: #fff;
  background-color: #0a8817;
}
.btn-dark:disabled, .about__button:disabled, .button-open-modal:disabled {
  fill: #000;
  color: #000;
  background-color: #ababab;
}

.advantages-list__desc, .advantages-list__title {
  color: #fcfcfc;
}

.products-list__title--milkshakes::before, .products-list__title--ice-coffee::before, .products-list__title--ice-cream::before {
  width: 200px;
  height: 200px;
  position: absolute;
  display: block;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -81%);
          transform: translate(-50%, -81%);
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.advantages-list__title--ice-cream::before, .advantages-list__title--weight::before, .advantages-list__title--cow::before {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 25px;
  background-color: #f8d24e;
  background-size: 72%;
  background-position: center;
  background-repeat: no-repeat;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  position: absolute;
  z-index: 100;
  left: 0;
}
@media screen and (min-width: 1200px) {
  .logo {
    position: static;
  }
}

@media screen and (max-width: 767px) {
  .header__container {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__container {
    padding-top: 20px;
    padding-bottom: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.header__nav {
  position: relative;
  min-height: 46px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
@media screen and (min-width: 1200px) {
  .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: transparent;
  border: transparent;
  top: 0;
  right: 0;
}
@media screen and (min-width: 768px) {
  .menu-button {
    top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button--close {
  display: none;
  z-index: 100;
}
.menu-button--close.is-open {
  display: block;
}
@media screen and (min-width: 1200px) {
  .menu-button--close.is-open {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button--close {
    display: none;
  }
}

.menu-button--open {
  display: block;
}
.menu-button--open.is-open {
  display: none;
}
@media screen and (min-width: 1200px) {
  .menu-button--open.is-open {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .menu-button--open {
    position: static;
  }
}
@media screen and (min-width: 1200px) {
  .menu-button--open {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .menu {
    padding: 50px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #84a178;
    z-index: 99;
    -webkit-transform: translateX(-150%);
            transform: translateX(-150%);
    -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu.is-open {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    pointer-events: initial;
    z-index: 99;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .menu.is-open.menu-button__close {
    display: block;
  }
}

.menu-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  .menu-list {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-list {
    margin-top: 76px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 303px;
    padding-top: 32px;
  }
}

@media screen and (max-width: 1199px) {
  .menu-list__item + .menu-list__item {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .menu-list__item + .menu-list__item {
    margin-left: 28px;
  }
}

.menu-list__link {
  color: #fcfcfc;
  font-weight: 700;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list__link:hover, .menu-list__link:focus {
  color: #131313;
}
@media screen and (max-width: 1199px) {
  .menu-list__link {
    font-size: 32px;
  }
}
.button-open-modal {
  margin-top: 110px;
  width: 152px;
  height: 42px;
}
@media screen and (max-width: 767px) {
  .button-open-modal--tablet {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .button-open-modal {
    margin-top: 0;
    margin-left: 32px;
  }
  .button-open-modal--mobile {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .button-open-modal {
    margin-left: 204px;
    margin-top: 20px;
  }
}

.hero {
  padding-top: 28px;
  margin: 0 auto;
  height: 448px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero {
    height: 358px;
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 0;
    height: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 584px;
    padding-top: 40px;
  }
}

.hero__overlay {
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  height: 100%;
  background-image: url("../images/images-for-mobile/hero/dots-mobile.png");
  background-color: #84a178;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 105%;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url("../images/images-for-mobile/hero/dots-mobile@2x.png");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__overlay {
    margin: 0;
    background-position: bottom right;
    background-size: 65%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .hero__overlay {
    max-width: 768px;
    background-image: url("../images/images-for-tablet/hero/dots-tablet.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (max-width: 1199px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url("../images/images-for-tablet/hero/dots-tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .hero__overlay {
    max-width: 1200px;
    background-image: url("../images/images-for-desktop/hero/dots-desktop.png");
    background-size: 100%;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero__overlay {
    background-image: url("../images/images-for-desktop/hero/dots-desktop@2x.png");
  }
}

.hero__container {
  position: relative;
}

.hero__title-container {
  width: 247px;
}

.hero__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero__title {
  color: #fcfcfc;
  font-family: "Seymour One", sans-serif;
  font-size: 26px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.04px;
  text-transform: uppercase;
}
.hero__title--accent {
  font-size: 34px;
  line-height: 0.96;
}

.button-list {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .button-list {
    margin-top: 24px;
  }
}

.button-list__item + .button-list__item {
  margin-left: 12px;
}

.button-list__item--button {
  padding: 11px 26px;
  color: #000;
  border-radius: 10px;
}

.button-list__link {
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

.button-list__link--accent {
  color: #f8d24e;
}
.button-list__link--accent:hover {
  color: #0a8817;
}
.button-list__link--accent:focus {
  color: #fff;
}
.button-list__link--accent:disabled {
  color: #ababab;
}

.hero__image {
  position: absolute;
  left: 55%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .hero__image {
    width: 217px;
    left: 70%;
    -webkit-transform: translateX(-45%);
            transform: translateX(-45%);
  }
}
@media screen and (min-width: 768px) {
  .hero__image {
    left: 55%;
    -webkit-transform: translateX(-4%);
            transform: translateX(-4%);
  }
}

.achievement-list {
  display: none;
}
@media screen and (min-width: 768px) {
  .achievement-list {
    margin-top: 14px;
    display: inline-block;
  }
}

.achievement-list__item + .achievement-list__item {
  margin-top: 20px;
}

.achievement-list__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fcfcfc;
  font-size: 8px;
}

.achievement-list__text--accent {
  color: #131313;
  font-size: 28px;
  font-weight: 900;
  letter-spacing: 1.12px;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.hero__taste-container {
  display: none;
  position: absolute;
}
@media screen and (min-width: 768px) {
  .hero__taste-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__taste-container {
    bottom: 65px;
  }
}

.hero__taste {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__taste {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 165px;
    margin-left: 32px;
    margin-top: 27px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__taste {
    max-width: 200px;
    margin-left: 16px;
    margin-top: 67px;
  }
}

.hero__taste-text {
  color: #fff;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  line-height: 1.4;
}
@media screen and (min-width: 1200px) {
  .hero__taste-text {
    font-size: 14px;
  }
}

.hero__taste-link {
  margin-top: 29px;
}
@media screen and (min-width: 1200px) {
  .hero__taste-link {
    margin-top: 24px;
  }
}

.hero__taste-icon {
  fill: #fff;
}

.products {
  padding: 60px 0;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .products-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.products-list__item {
  min-height: 420px;
  margin-top: 168px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 24px;
}
.products-list__item:nth-child(3n+1) {
  background-color: #aec6a5;
}
.products-list__item:nth-child(3n+2) {
  background-color: #efd478;
}
.products-list__item:nth-child(3n+3) {
  background-color: #d6936d;
}
@media screen and (min-width: 376px) and (max-width: 767px) {
  .products-list__item {
    max-width: 320px;
    min-height: 428px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__item {
    width: 224px;
    min-height: 428px;
    padding: 0 26px;
  }
  .products-list__item + .products-list__item {
    margin-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list__item {
    width: 370px;
    min-height: 536px;
  }
  .products-list__item + .products-list__item {
    margin-left: 29px;
  }
}

.products-list__title {
  position: relative;
  color: #131313;
  padding-top: 120px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
@media screen and (min-width: 1200px) {
  .products-list__title {
    font-size: 30px;
    letter-spacing: 1.2px;
  }
}
.products-list__title--ice-cream::before {
  content: "";
  background-image: url("../images/images-for-mobile/products/product-ice-cream-mobile.png");
  -webkit-box-shadow: 0 11px #aec6a5;
          box-shadow: 0 11px #aec6a5;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(10, 136, 23, 0.25));
          filter: drop-shadow(0px 5px 20px rgba(10, 136, 23, 0.25));
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-list__title--ice-cream::before {
    background-image: url("../images/images-for-mobile/products/product-ice-cream-mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products-list__title--ice-cream::before {
    background-image: url("../images/images-for-tablet/products/product-ice-cream-tablet.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--ice-cream::before {
    background-image: url("../images/images-for-tablet/products/product-ice-cream-tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__title--ice-cream::before {
    background-image: url("../images/images-for-desktop/products/product-ice-cream-desktop.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__title--ice-cream::before {
    background-image: url("../images/images-for-desktop/products/product-ice-cream-desktop@2x.png");
  }
}
.products-list__title--ice-coffee::before {
  content: "";
  background-image: url("../images/images-for-mobile/products/product-ice-coffee-mobile.png");
  -webkit-box-shadow: 0 11px #efd478;
          box-shadow: 0 11px #efd478;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(153, 114, 23, 0.25));
          filter: drop-shadow(0px 5px 20px rgba(153, 114, 23, 0.25));
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-list__title--ice-coffee::before {
    background-image: url("../images/images-for-mobile/products/product-ice-coffee-mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products-list__title--ice-coffee::before {
    background-image: url("../images/images-for-tablet/products/product-ice-coffee-tablet.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--ice-coffee::before {
    background-image: url("../images/images-for-tablet/products/product-ice-coffee-tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__title--ice-coffee::before {
    background-image: url("../images/images-for-desktop/products/product-ice-coffee-desktop.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__title--ice-coffee::before {
    background-image: url("../images/images-for-desktop/products/product-ice-coffee-desktop@2x.png");
  }
}
.products-list__title--milkshakes::before {
  content: "";
  background-image: url("../images/images-for-mobile/products/product-milkshake-mobile.png");
  -webkit-box-shadow: 0 11px #d6936d;
          box-shadow: 0 11px #d6936d;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .products-list__title--milkshakes::before {
    background-image: url("../images/images-for-mobile/products/product-milkshake-mobile@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .products-list__title--milkshakes::before {
    background-image: url("../images/images-for-tablet/products/product-milkshake-tablet.png");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .products-list__title--milkshakes::before {
    background-image: url("../images/images-for-tablet/products/product-milkshake-tablet@2x.png");
  }
}
@media screen and (min-width: 1200px) {
  .products-list__title--milkshakes::before {
    background-image: url("../images/images-for-desktop/products/product-milkshake-desktop.png");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .products-list__title--milkshakes::before {
    background-image: url("../images/images-for-desktop/products/product-milkshake-desktop@2x.png");
  }
}

.products-list__description {
  max-width: 200px;
  color: #131313;
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;
}
@media screen and (min-width: 1200px) {
  .products-list__description {
    font-size: 16px;
    letter-spacing: 0.64px;
    margin-top: 66px;
  }
}

.products-list__button {
  display: block;
  padding: 0;
  margin-bottom: 16px;
  background-color: transparent;
  border: transparent;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .products-list__button {
    margin-bottom: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .products-list__button {
    margin-bottom: 60px;
  }
}

.products-list__icon {
  fill: #131313;
}

.about {
  padding-top: 60px;
}

@media screen and (max-width: 767px) {
  .about__title {
    width: 210px;
  }
}

@media screen and (min-width: 1200px) {
  .about__container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

@media screen and (min-width: 768px) {
  .about__content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 80px;
  }
}
.about__content-container--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .about__content-container--center {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.about__image {
  border-radius: 50%;
  -webkit-box-shadow: 0 -22px #f8d24e;
          box-shadow: 0 -22px #f8d24e;
}
@media screen and (max-width: 767px) {
  .about__image {
    margin-top: 54px;
  }
}
@media screen and (min-width: 768px) {
  .about__image {
    margin-right: 36px;
    margin-top: 18px;
    -webkit-box-shadow: 0 -26px #f8d24e;
            box-shadow: 0 -26px #f8d24e;
  }
}
@media screen and (min-width: 1200px) {
  .about__image {
    -webkit-box-shadow: 0 -36px #f8d24e;
            box-shadow: 0 -36px #f8d24e;
    margin-right: 109px;
  }
}

@media screen and (max-width: 767px) {
  .about__text-container {
    width: 220px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__text-container {
    max-width: 334px;
  }
}
@media screen and (min-width: 1200px) {
  .about__text-container {
    max-width: 463px;
  }
}

.about__text {
  color: #fcfcfc;
  line-height: 1.76;
  letter-spacing: 0.48px;
}
.about__text + .about__text {
  margin-top: 4px;
}
@media screen and (min-width: 1200px) {
  .about__text + .about__text {
    margin-top: 8px;
  }
}

.about__button {
  width: 164px;
  height: 42px;
  margin-top: 24px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__button {
    margin-top: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .about__button {
    margin-top: 54px;
  }
}

.advantages {
  padding-top: 116px;
}
@media screen and (min-width: 480px) {
  .advantages {
    padding-top: 126px;
  }
}
@media screen and (min-width: 768px) {
  .advantages {
    padding-top: 142px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages {
    padding-top: 150px;
  }
}

.advantages-list {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .advantages-list {
    max-width: 230px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list {
    max-width: 616px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .advantages-list__item + .advantages-list__item {
    margin-top: 98px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list__item {
    min-width: 152px;
  }
  .advantages-list__item + .advantages-list__item {
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__item {
    max-width: 262px;
  }
  .advantages-list__item + .advantages-list__item {
    margin-left: 190px;
  }
}

.advantages-list__title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  position: relative;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .advantages-list__title {
    font-size: 48px;
    letter-spacing: 1.92px;
  }
}
@media screen and (min-width: 1200px) {
  .advantages-list__title {
    font-size: 58px;
    letter-spacing: 2.32px;
  }
}
.advantages-list__title--cow::before {
  content: "";
  background-image: url("../images/advantage-icon-1.png");
}
.advantages-list__title--weight::before {
  content: "";
  background-image: url("../images/advantage-icon-2.png");
}
.advantages-list__title--ice-cream::before {
  content: "";
  background-image: url("../images/advantage-icon-3.png");
}

.advantages-list__desc {
  line-height: 1.7;
  margin-top: 16px;
}

.gallery {
  padding-top: 32px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(60%, transparent), color-stop(40%, #84a178));
  background: linear-gradient(to top, transparent 60%, #84a178 40%);
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-top: 60px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, transparent), color-stop(50%, #84a178));
    background: linear-gradient(to top, transparent 50%, #84a178 50%);
  }
}
@media screen and (min-width: 1200px) {
  .gallery {
    padding-top: 80px;
  }
}

.gallery__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery__image {
  border-radius: 8px;
  width: 100%;
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .gallery__image {
    width: 440px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery__image {
    border-radius: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery__image {
    border-radius: 24px;
  }
}

.customer-reviews {
  padding-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .customer-reviews {
    padding-top: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews {
    padding-top: 140px;
  }
}

.customer-reviews__image {
  border-radius: 44px;
}

.customer-reviews__image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customer-reviews__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 32px;
  padding: 35px 39px;
  background-color: #84a178;
  color: #fcfcfc;
}
@media screen and (max-width: 767px) {
  .customer-reviews__comment {
    max-width: 280px;
    min-height: 256px;
    border-radius: 10px;
    line-height: 2.55;
  }
}
@media screen and (min-width: 768px) {
  .customer-reviews__comment {
    padding: 28px 80px;
    border-radius: 24px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.56px;
  }
}
@media screen and (min-width: 1200px) {
  .customer-reviews__comment {
    max-width: 968px;
    min-height: 138px;
    letter-spacing: 0.64px;
  }
}

.customer-reviews__name {
  margin-top: 32px;
  color: #131313;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .customer-reviews__name {
    font-size: 16px;
  }
}

.contacts {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(28%, transparent), color-stop(28%, #84a178));
  background: linear-gradient(to bottom, transparent 28%, #84a178 28% 100%);
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .contacts {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 767px) {
  .contacts__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .contacts__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.contacts__item-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 4px 22px;
  color: #131313;
  background-color: #f8d24e;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;
}
@media screen and (min-width: 768px) {
  .contacts__item-title {
    padding: 4px 10px;
    border-radius: 6px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item-title {
    padding: 4px 14px;
  }
}

.contacts__item {
  max-width: 280px;
  padding: 40px 32px;
  text-align: start;
  line-height: 1.86;
  font-weight: 500;
  background-color: #fcfcfc;
  -webkit-box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .contacts__item {
    margin-bottom: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__item {
    max-width: 224px;
    min-height: 531px;
    padding: 40px 24px;
  }
  .contacts__item + .contacts__item {
    margin-left: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    max-width: 368px;
    min-height: 542px;
    padding: 40px;
  }
  .contacts__item + .contacts__item {
    margin-left: 32px;
  }
}
.contacts__item--indent {
  margin-top: 8px;
}
.contacts__item--black {
  color: #131313;
  letter-spacing: 0.64px;
}
.contacts__item--grey {
  color: #ababab;
}
.contacts__item--brown {
  color: #d6936d;
  letter-spacing: 0.64px;
}
.contacts__item--brown:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .contacts__item:last-child {
    margin-bottom: 0;
  }
}

.contacts__item-header {
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .contacts__item-header {
    margin-top: 32px;
  }
}

.item-header {
  letter-spacing: 0.48px;
}
.contacts__item-header::after,
.contacts__item-body::after {
  display: block;
  width: 100%;
  margin: 24px 0;
  content: "";
  border-bottom: 1px solid #e1e1e1;
}
@media screen and (min-width: 1200px) {
  .contacts__item-header::after,
  .contacts__item-body::after {
    margin: 32px 0;
  }
}

.contacts__item-link + .contacts__item-link {
  margin-top: 6px;
}
@media screen and (min-width: 1200px) {
  .contacts__item-link + .contacts__item-link {
    margin-top: 4px;
  }
}

.contacts__link {
  color: #131313;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;
}
@media screen and (min-width: 1200px) {
  .contacts__link {
    line-height: 1.5;
  }
}

.contacts__modal-list {
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .contacts__modal-list {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__modal-list {
    margin-top: 60px;
  }
}

.contacts__modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 767px) {
  .contacts__modal-item + .contacts__modal-item {
    margin-top: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__modal-item + .contacts__modal-item {
    margin-left: 16px;
  }
}

.contacts__button {
  width: 196px;
  height: 42px;
  line-height: 1.28;
}

.footer {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 479px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 480px) {
  .footer__container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__text {
  max-width: 232px;
}
@media screen and (min-width: 768px) {
  .footer__text {
    max-width: 352px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text {
    min-width: 504px;
  }
}

.footer__text-title {
  color: #fcfcfc;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer__text-title {
    font-size: 26px;
    letter-spacing: 1.04px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-title {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.2px;
  }
}

.footer__text-slog {
  color: #fcfcfc;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.36px;
  text-transform: uppercase;
}
@media screen and (min-width: 768px) {
  .footer__text-slog {
    margin-top: 8px;
    font-size: 48px;
    letter-spacing: 2.88px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__text-slog {
    margin-top: 14px;
    font-size: 58px;
    letter-spacing: 3.48px;
  }
}

@media screen and (max-width: 767px) {
  .footer__contact {
    margin-top: 60px;
  }
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.footer__social-item + .footer__social-item {
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .footer__social-item + .footer__social-item {
    margin-left: 30px;
  }
}

.footer__social-link {
  color: #84a178;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-link:hover, .footer__social-link:focus {
  cursor: pointer;
  color: #fcfcfc;
}

.footer__social-icon {
  fill: currentColor;
}

.footer__contact-tel {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  color: #131313;
  font-weight: 700;
  line-height: 1.86;
}
@media screen and (min-width: 768px) {
  .footer__contact-tel {
    margin-top: 34px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__contact-tel {
    margin-top: 40px;
    letter-spacing: 0.32px;
  }
}

.footer__contact-link {
  margin-left: 4px;
  color: #fcfcfc;
}

.footer__copyright {
  border-top: 1px solid #e1e1e1;
  min-height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-top: 32px;
    min-height: 50px;
  }
}

.footer__copyright-text {
  max-width: 154px;
  color: #7a7a7a;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;
}
@media screen and (min-width: 768px) {
  .footer__copyright-text {
    max-width: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__copyright-text {
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.24px;
  }
}/*# sourceMappingURL=main.css.map */