.about__title {
  @media screen and (max-width: 767px) {
    width: 210px;
  }
}

.about__container {
  align-items: start;
}

.about__content-container {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: 80px;
  }

  &--center {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 768px) {
      align-items: flex-start;
    }
  }
}

.about__image {
  border-radius: 50%;
  box-shadow: 0 -22px $yellow;

  @media screen and (max-width: 767px) {
    margin-top: 54px;

  }

  @media screen and (min-width: 768px) {
    margin-right: 36px;
    margin-top: 18px;
    box-shadow: 0 -26px $yellow;
  }

  @media screen and (min-width: 1200px) {
    box-shadow: 0 -36px $yellow;
  }
}

.about__text-container {
  @media screen and (max-width: 767px) {
    width: 220px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    max-width: 334px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 463px;
  }
}

.about__text {
  color: $primary-white;
  line-height: 1.76;
  letter-spacing: 0.48px;

  & + & {
    margin-top: 4px;
  }

  @media screen and (min-width: 1200px) {
    & + & {
      margin-top: 8px;
    }
  }
}

.about__button {
  @extend %button;
  @extend %button-dark;

  width: 164px;
  height: 42px;

  margin-top: 24px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 32px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 54px;
  }
}
