.advantages {
  padding-top: 112px;
}

.advantages-list {
  text-align: center;

  @media screen and (max-width: 767px) {
    max-width: 230px;
  }

  @media screen and (min-width: 768px) {
    max-width: 616px;
    display: flex;
  }
}

.advantages-list__item {
  @media screen and (max-width: 767px) {
    & + & {
      margin-top: 98px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 152px;
    & + & {
      margin-left: 80px;
    }
  }
}

.advantages-list__title {
  @extend %white-text;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  position: relative;

  &--cow::before {
    content: '';
    @extend %before-advantages;
    background-image: url('../images/advantage-icon-1.png');
  }
  &--weight::before {
    content: '';
    @extend %before-advantages;
    background-image: url('../images/advantage-icon-2.png');
  }
  &--ice-cream::before {
    content: '';
    @extend %before-advantages;
    background-image: url('../images/advantage-icon-3.png');
  }
}

.advantages-list__desc {
  @extend %white-text;
  line-height: 1.7;
  margin-top: 16px;
}
