.contacts {
  background: linear-gradient(to bottom, transparent 28%, $green 28% 100%);
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 100px;
    padding-bottom: 60px;
  }
}

.contacts__list {
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.contacts__item-title {
  display: inline-flex;
  padding: 4px 22px;
  color: $primary-black;
  background-color: $yellow;
  border-radius: 4px;

  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.48px;

  @media screen and (min-width: 768px) {
    padding: 4px 10px;
    border-radius: 6px;
  }

  @media screen and (min-width: 1200px) {
    padding: 4px 14px;
  }
}

.contacts__item {
  max-width: 280px;
  padding: 40px 32px;
  text-align: start;
  line-height: 1.86;
  font-weight: 500;
  background-color: $primary-white;
  box-shadow: 0px 8px 30px 0px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    max-width: 224px;
    min-height: 531px;
    padding: 40px 24px;

    & + & {
      margin-left: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    max-width: 368px;
    min-height: 542px;
    padding: 40px;

    & + & {
      margin-left: 32px;
    }
  }

  &--indent {
    margin-top: 8px;
  }

  &--black {
    color: $primary-black;
    letter-spacing: 0.64px;
  }

  &--grey {
    color: $button-grey;
  }

  &--brown {
    color: $product-brown;
    letter-spacing: 0.64px;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &:last-child {
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }
  }
}

.contacts__item-header {
  margin-top: 20px;

  @media screen and (min-width: 1200px) {
    margin-top: 32px;
  }
}

.item-header {
  letter-spacing: 0.48px;

  @media screen and (min-width: 1200px) {
  }
}

.contacts__item-header::after,
.contacts__item-body::after {
  display: block;
  width: 100%;
  margin: 24px 0;
  content: '';
  border-bottom: 1px solid $grey-for-line-after;

  @media screen and (min-width: 1200px) {
    margin: 32px 0;
  }
}

.contacts__item-link {
  & + & {
    margin-top: 6px;
  }
  @media screen and (min-width: 1200px) {
    & + & {
      margin-top: 4px;
    }
  }
}

.contacts__link {
  color: $primary-black;
  font-weight: 500;
  line-height: 1.6;
  text-decoration: none;

  @media screen and (min-width: 1200px) {
    line-height: 1.5;
  }
}

.contacts__modal-list {
  margin-top: 20px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 60px;
  }
}

.contacts__modal-item {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 767px) {
    & + & {
      margin-top: 16px;
    }
  }

  @media screen and (min-width: 768px) {
    & + & {
      margin-left: 16px;
    }
  }
}

.contacts__button {
  @extend %button;
  width: 196px;
  height: 42px;
  line-height: 1.28;
}

.btn-dark {
  @extend %button-dark;
}

.btn-light {
  @extend %button-light;
}
