.customer-reviews {
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.customer-reviews__image {
  border-radius: 44px;
}

.customer-reviews__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-reviews__comment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 32px;
  padding: 35px 39px;
  background-color: $green;

  color: $primary-white;

  @media screen and (max-width: 767px) {
    max-width: 280px;
    min-height: 256px;
    border-radius: 10px;
    line-height: 2.55;
  }

  @media screen and (min-width: 768px) {
    padding: 28px 80px;
    border-radius: 24px;
    font-weight: 500;
    line-height: 1.86;
    letter-spacing: 0.56px;
  }
}

.customer-reviews__name {
  margin-top: 32px;
  color: $primary-black;

  font-size: 20px;
  font-weight: 500;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    font-size: 16px;
  }
}
