.footer {
  padding-top: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 479px) {
    flex-direction: column;
  }

  @media screen and (min-width: 480px) {
    align-items: center;
  }
}

.footer__text {
  max-width: 232px;

  @media screen and (min-width: 768px) {
    max-width: 352px;
  }
}

.footer__text-title {
  color: $primary-white;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    font-size: 26px;
    letter-spacing: 1.04px;
  }
}

.footer__text-slog {
  color: $primary-white;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.36px;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-top: 8px;
    font-size: 48px;
    letter-spacing: 2.88px;
  }
}

.footer__contact {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }
}

.footer__social-list {
  display: flex;
  justify-content: end;
}

.footer__social-item {
  & + & {
    margin-left: 20px;
  }

  @media screen and (min-width: 768px) {
    & + & {
      margin-left: 30px;
    }
  }
}

.footer__contact-tel {
  margin-top: 20px;
  display: flex;
  justify-content: end;
  color: $primary-black;

  font-weight: 700;
  line-height: 1.86;

  @media screen and (min-width: 768px) {
    margin-top: 34px;
  }
}

.footer__contact-link {
  margin-left: 4px;
  color: $primary-white;
}

.footer__copyright {
  border-top: 1px solid $grey-for-line-after;
  min-height: 86px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    margin-top: 32px;
    min-height: 50px;
  }
}

.footer__copyright-text {
  max-width: 154px;
  color: $grey-for-footer-text;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.52;

  @media screen and (min-width: 768px) {
    max-width: 300px;
  }
}
