.gallery {
  background: linear-gradient(to top, transparent 70%, $green 30%);
}

.gallery__container {
  display: flex;
  justify-content: center;
}

.gallery__image {
  border-radius: 8px;
  @media screen and (min-width: 450px) {
    width: 440px;
  }
}
