.gallery {
  padding-top: 32px;
  background: linear-gradient(to top, transparent 60%, $green 40%);

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    background: linear-gradient(to top, transparent 50%, $green 50%);
  }
}

.gallery__container {
  display: flex;
  justify-content: center;
}

.gallery__image {
  border-radius: 8px;
  width: 100%;
  @media screen and (min-width: 450px) and (max-width: 767px) {
    width: 440px;
  }

  @media screen and (min-width: 768px) {
    border-radius: 18px;
  }
}
