.products {
  padding: 60px 0;
}

.products-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (min-width: 376px) and (max-width: 767px) {
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.products-list__item {
  min-height: 420px;
  margin-top: 168px;
  padding: 0 40px;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;

  &:nth-child(3n + 1) {
    background-color: $product-green;
  }
  &:nth-child(3n + 2) {
    background-color: $product-orange;
  }

  &:nth-child(3n + 3) {
    background-color: $product-brown;
  }

  @media screen and (min-width: 376px) and (max-width: 767px) {
    max-width: 320px;
    min-height: 428px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 224px;
    min-height: 428px;
    padding: 0 26px;
    & + & {
      margin-left: 16px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    min-height: 536px;
    & + & {
      margin-left: 29px;
    }
  }
}

.products-list__title {
  position: relative;
  color: $primary-black;
  padding-top: 120px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.8px;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: 1.2px;
  }

  &--ice-cream::before {
    content: '';
    @extend %before-products;

    background-image: url('../images/images-for-mobile/products/product-ice-cream-mobile.png');

    box-shadow: 0 11px $product-green;

    filter: drop-shadow(0px 5px 20px rgba(10, 136, 23, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/images-for-mobile/products/product-ice-cream-mobile@2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/images-for-tablet/products/product-ice-cream-tablet.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/images-for-tablet/products/product-ice-cream-tablet@2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url('../images/images-for-desktop/products/product-ice-cream-desktop.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/images-for-desktop/products/product-ice-cream-desktop@2x.png');
      }
    }
  }

  &--ice-coffee::before {
    content: '';
    @extend %before-products;

    background-image: url('../images/images-for-mobile/products/product-ice-coffee-mobile.png');

    box-shadow: 0 11px $product-orange;

    filter: drop-shadow(0px 5px 20px rgba(153, 114, 23, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/images-for-mobile/products/product-ice-coffee-mobile@2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/images-for-tablet/products/product-ice-coffee-tablet.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/images-for-tablet/products/product-ice-coffee-tablet@2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url('../images/images-for-desktop/products/product-ice-coffee-desktop.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/images-for-desktop/products/product-ice-coffee-desktop@2x.png');
      }
    }
  }

  &--milkshakes::before {
    content: '';
    @extend %before-products;

    background-image: url('../images/images-for-mobile/products/product-milkshake-mobile.png');

    box-shadow: 0 11px $product-brown;

    filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.25));

    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url('../images/images-for-mobile/products/product-milkshake-mobile@2x.png');
    }

    @media screen and (min-width: 768px) {
      background-image: url('../images/images-for-tablet/products/product-milkshake-tablet.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/images-for-tablet/products/product-milkshake-tablet@2x.png');
      }
    }

    @media screen and (min-width: 1200px) {
      background-image: url('../images/images-for-desktop/products/product-milkshake-desktop.png');

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url('../images/images-for-desktop/products/product-milkshake-desktop@2x.png');
      }
    }
  }
}

.products-list__description {
  max-width: 200px;
  color: $primary-black;
  margin-top: 40px;

  text-align: center;
  font-size: $tablet-size;
  font-weight: 400;
  line-height: 1.76;
  letter-spacing: 0.56px;

  @media screen and (min-width: 1200px) {
    font-size: $desktop-size;
    letter-spacing: 0.64px;
    margin-top: 66px;
  }
}

.products-list__button {
  display: block;
  padding: 0;
  margin-bottom: 16px;

  background-color: transparent;
  border: transparent;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 60px;
  }
}

.products-list__icon {
  fill: $primary-black;
}
