$yellow: #f8d24e;
$black: #000;
$primary-black: #131313;
$primary-white: #fcfcfc;
$white: #fff;
$green: #84a178;
$product-green: #aec6a5;
$product-orange: #efd478;
$product-brown: #d6936d;
$button-green-effects: #0a8817;
$button-grey: #ababab;
$grey-for-line-after: #e1e1e1;
$grey-for-footer-text: #7a7a7a;
$family-montserrat: 'Montserrat', sans-serif;
$family-seymour-one: 'Seymour One', sans-serif;
$family-dm-sans: 'DM Sans', sans-serif;

$mobile-size: 12px;
$tablet-size: 14px;
$desktop-size: 16px;
